:root {   
  --verde-fosco: rgba(43, 165, 69, .25);   
  --verde: rgb(43, 165, 69);   
  --cinza: #444444;    
  --amarelo: #EAB308;
  --amarelo-fosco: #614412;  
  --vermelho: #D0383E;
  --vinho: #57292B;    
  --branco-bg: #F5F5F5; 
  --preto: #222222;  
  --azul: #2F6DAE;
  --azul-fosco: #182631;    
}

html{
  font-size: 62.5%;
  color: var(--preto);
}

body{
  background-color: var(--preto);
  color: var(--branco-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", serif;
}

.bold{
  font-weight: 600;
}

.italico{
  font-style: italic;
}

.link{
  color: var(--azul);
  font-weight: 600;
}

.link:hover{
  text-decoration: underline;
}

.mg-bottom{
  margin-bottom: 2rem;
}

.pd-top{
  padding-top: 2rem;
}


/* Classes de cor (aplicadas via JavaScript no card) */
.bg-grey{
  background-color: var(--cinza);
  border-radius: 2px;
  padding: 0 .25rem; 
}

.bg-blue {
  background-color: var(--azul-fosco);
}
.bg-green {
  background-color: var(--verde-fosco);
}
.bg-yellow {
  background-color: var(--amarelo-fosco);
}
.bg-red {
  background-color: var(--vinho);
}