.cabecalho {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
  margin-bottom: 5rem;
  width: 100%;
  align-items: center;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

}

.navBar{
  display: flex;
  width: 90%;
  align-items: center;
  gap: 1rem;
}

#httpcat_logo{
  cursor: pointer;
}

#httpcat_logo:hover path{
  fill: var(--vermelho);

}

#http-titulo {
  color: var(--branco-bg);
  font-size: 3rem;
  font-weight: 600;
}

.back-btn{
  display: flex;
  font-size: 1.8rem;
  letter-spacing: .3rem;
  margin-top: 1rem;
  text-decoration: underline 1px;
  width: 90%;
}

.back-btn:hover{
  text-decoration: underline 1px var(--vermelho);
}

.back-btn a strong{
  letter-spacing: 0;
}