.cabecalho {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
  margin-bottom: 5rem;
  width: 100%;
  align-items: center;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

}

.navBar{
  display: flex;
  width: 90%;
  align-items: center;
  gap: 1rem;
}

.httpcat_logo{
  cursor: pointer;
  width: 8rem;
  height: 5rem;
}

.httpcat_logo:hover path{
  fill: var(--vermelho);

}

#http-titulo {
  color: var(--branco-bg);
  font-size: 3rem;
  font-weight: 600;
}

.back-btn{
  display: flex;
  font-size: 1.8rem;
  letter-spacing: .3rem;
  margin-top: 1rem;
  text-decoration: underline 1px;
  width: 90%;
}

.back-btn:hover{
  text-decoration: underline 1px var(--vermelho);
}

.back-btn a strong{
  letter-spacing: 0;
}


/* Para telas até 768px de largura (por exemplo, “tablet” ou “landscape phone”) */
@media (max-width: 768px) {
  .cabecalho{
    margin-bottom: 3rem;
  }

  #http-titulo {
    font-size: 2.5rem;
  }

  .back-btn{
    font-size: 1.6rem;
  }
}

/* Para telas até 480px de largura (celulares pequenos) */
@media (max-width: 480px) {
  #http-titulo {
    font-size: 2rem;
  }

  .httpcat_logo{
    width: 6rem;
  }

  .cabecalho{
    margin-bottom: 2.5rem;
  }

  .back-btn{
    font-size: 1.4rem;
  }
}