#rodape {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}

.footer-text {
  font-size: 1.4rem;
  white-space: nowrap; /* Garante que o texto não quebre */
}

/* Container que esconde a “largura” e permite o movimento interno */
#rodape-moves {
  width: 90vw; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* A div que realmente se move, animando da direita para a esquerda */
.moving-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  animation: marquee 15s linear infinite;
  color: var(--text-color);
  padding: 2rem 0;
}

.moving-content:hover {
  animation-play-state: paused; 
}

#autor {
  padding-bottom: 2rem;
}

/* Animação que parte da posição X=100% até X=-100% */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Para telas até 768px */
@media (max-width: 768px) {
  .moving-content {
    animation: marquee 12s linear infinite;
    gap: 15rem; 
  }
  .footer-text {
    font-size: 1.3rem;
  }

  #rodape-moves-status{
    width: 80vw; 
  }
}

/* Para telas até 480px */
@media (max-width: 480px) {
  .moving-content {
    animation: marquee 10s linear infinite;
  }
  
  .footer-text {
    font-size: 1.2rem;
  }
}
