/* Container principal da página inicial */
#main-conteudo-index {
  width: 90%;
  display: flex;
  flex-direction: column;
}

/* Caixa de pesquisa */
.pesquisar-status-code {
  width: calc(50% - 1rem);
  display: flex;
  background-color: var(--bg-color);
  height: 6rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Input de status code */
#numero-status-code {
  width: 85%;
  background-color: var(--bg-color);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
  outline: none;
  padding-left: 1rem;
}

/* Botão de pesquisa */
.pesquisar-btn{
  cursor: pointer;
}

/* Ícone de lupa dentro do botão */
.pesquisar-btn img {
  height: 5rem;
  padding: 1rem;
}

/* Container que abriga todos os cards */
#cards-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 8rem;
  justify-content: space-between;

}

/* Estilo base do card */
.card {
  display: flex;
  flex-direction: column;
  width: calc((100% / 4) - 2rem);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: background-color .5s ease, color 0.3s ease;
  margin-bottom: 1rem;
  color: var(--text-color);
  /* background-color: var(--card-bg-color); */
}

/* Efeito hover no card */
.card:hover {
  transform: scale(0.98);
}

.card.bg-blue:hover {
  background-color: var(--azul); 
}

.card.bg-green:hover {
  background-color: var(--verde);
}

.card.bg-yellow:hover {
  background-color: var(--amarelo);
}

.card.bg-red:hover {
  background-color: var(--vermelho);
}

/* Área de imagem do card */
.bg-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* Área de texto do card */
.descricao-card {
  height: 15vh;
  width: 100%;
  border-radius: 0 0 .5rem .5rem;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 600;
  gap: 1rem;
  justify-content: center;
  padding-left: 1rem;
}

/* Texto de descrição (título do status) */
.descricao-status-code {
  font-size: 1.6rem;
  color: var(--branco-bg);
}

.numero-status-code{
  color: var(--branco-bg);
}

/* Sentinela para scroll infinito (IntersectionObserver) */
#sentinel {
  width: 100%;
  height: 1px;
  opacity: 0;
}

/* Botão "voltar ao topo" */
.scroll-to-top-btn {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  width: 6rem;
  height: 6rem;
  font-size: 5rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease, right 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  opacity: .75;
}

.scroll-to-top-btn:hover {
  background-color: var(--branco-bg);
  color: var(--preto);
  opacity: 1;
}


/* Classe para ir ao canto direito */
.scroll-to-top-btn.sobe {
  bottom: 12rem;
}

/* Para telas até 1200px de largura (por exemplo, “tablet grande”) */
@media (max-width: 1200px) {
  .card {
    width: calc((100% / 3) - 2rem);
  }

  .pesquisar-status-code{
    width: 66%;
  }
}

/* Para telas até 768px de largura (por exemplo, “tablet” ou “landscape phone”) */
@media (max-width: 768px) {
  .card {
    width: calc((100% / 2) - 1.5rem);
  }

  .pesquisar-status-code{
    width: 100%;
  }

  .scroll-to-top-btn {
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
  }
}

/* Para telas até 480px de largura (celulares pequenos) */
@media (max-width: 480px) {
  .card {
    width: 100%;
  }

  #cards-content{
    justify-content: center;
  }

  .pesquisar-status-code{
    width: 100%;
  }

  .scroll-to-top-btn {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
  }

  .scroll-to-top-btn.move-right{
    /* right: 2rem; */
  }
}