#main-conteudo-status{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-seta{
  font-size: 4rem;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  position: relative;
  top: -15rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.btn-seta:hover{
  background-color: var(--branco-bg);
  color: var(--preto);
}

.conteudo-status{
  width: 70%;
  display: flex;
  flex-direction: column;
}

#status-code-image{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#status-code-title{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
  text-align: center;
}

.fonte-H3{
  padding-top: 3rem;
  padding-bottom: .3rem;
  font-size: 1.6rem;
  font-weight: 600;
}

#status-code-source{
  text-decoration: underline 1px var(--vermelho);
  padding-bottom: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
}

#status-code-source:hover{
  color: var(--vermelho);
  text-decoration: underline 1px var(--branco-bg);
}


/* // Percorre o array e insere cada card no container
httpDataCard.forEach(item => {
  const novoCard = criarCard(item);
  cardsContainer.appendChild(novoCard);
}); */